ion-toolbar{
    --background: #fd0;
    color: white;
    text-align: center;

    ion-title{
        font-size: 25px;
    }
}

ion-content{
    --background: #fff;

    ion-item{
        margin: 15px;
        height: 60px;
        --background: #fff;
        color: black;
        border-radius: 4px;
        font-size: 18px;
        
    }

    ion-list{
        margin:5px;
        background-color: #fff;
        text-decoration: none;
        border-radius: 4px;

        ion-label{
            color: black;
            font-size: 18px;
            text-decoration: none;
        }
    }

    a{
        text-decoration: none;
        color: #fd0;
      }
    
      ion-fab-button{
        --background: #fd0;
    
        ion-icon{
          width: 30px;
          height: 25px;
          color: #fff;
        }
      }

    #button-1{
        --background: #fd0;
        margin: 10px;
        width: 365px;
        height: 50px;
        margin-top: 30px;
    }

    #button-2{
        --background: #0000FF;
        margin: 10px;
        width: 365px;
        height: 50px;
        margin-top: 30px
    }
}