<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cadastro de Livro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input placeholder="Insira o título" type="text" required [(ngModel)]="livro.titulo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Resumo</ion-label>
    <ion-input placeholder="Insira o resumo" type="text" required [(ngModel)]="livro.resumo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descrição</ion-label>
    <ion-input placeholder="Insira a descrição" type="text" required [(ngModel)]="livro.descricao"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Páginas</ion-label>
    <ion-input placeholder="Insira quantidade de páginas" type="number" required [(ngModel)]="livro.paginas"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Preço</ion-label>
    <ion-input placeholder="Insira o preço" type="number" required [(ngModel)]="livro.preco"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Edição</ion-label>
    <ion-input placeholder="Insira a edição" type="number" required [(ngModel)]="livro.edicao"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Idioma</ion-label>
    <ion-input placeholder="Insira o idioma" type="text" required [(ngModel)]="livro.idioma"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Ano de publicação</ion-label>
    <ion-input placeholder="Insira o ano de publicação" type="number" maxlength="4" required [(ngModel)]="livro.ano_lancamento"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Id do autor</ion-label>
    <ion-input placeholder="Insira o id do autor" type="number" required [(ngModel)]="livro.id_autor"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Id da editora</ion-label>
    <ion-input placeholder="Insira o id da editora" type="number" required [(ngModel)]="livro.id_editora"></ion-input>
  </ion-item>

  <div class="buttons">
    <ion-button id="button-1" expand="block" (click)="cadastrar()">Salvar</ion-button>
    <a href="show-livro"><ion-button id="button-2"b expand="block">Livros cadastrados</ion-button></a>
  </div>

  <ion-fab horizontal="center" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><a href="home">
        <ion-icon name="home"></ion-icon>
      </a></ion-fab-button>
      <ion-fab-button><a href="cad-autor">
      <ion-icon name="create"></ion-icon>
      </a></ion-fab-button>
      <ion-fab-button><a href="cad-editora">
      <ion-icon name="document"></ion-icon>
      </a></ion-fab-button>
      <ion-fab-button><a href="cad-usuario">
      <ion-icon name="person"></ion-icon>
      </a></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  </ion-content>

  