<ion-header>
  <ion-toolbar>
    <ion-title>Login Adm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="inset">
    <ion-label position="floating">
      Username
    </ion-label>
    <ion-input type="text" [(ngModel)]="user.username"></ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label position="floating">
      Password
    </ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <div>
    <ion-button expand="block" color="primary" (click)="logar()">
      Logar
    </ion-button>
    <ion-button expand="block" color="danger">
      Sair
    </ion-button>
  </div>

</ion-content>
