<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cadastro de Autor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input placeholder="Insira o nome" type="text" required [(ngModel)]="aut.nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Telefone</ion-label>
    <ion-input placeholder="Insira o telefone" type="text" required [(ngModel)]="aut.telefone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Rua</ion-label>
    <ion-input placeholder="Insira a rua" type="text" required [(ngModel)]="aut.rua"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Numero</ion-label>
    <ion-input placeholder="Insira o numero" type="text" required [(ngModel)]="aut.numero"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Bairro</ion-label>
    <ion-input placeholder="Insira o bairro" type="text" required [(ngModel)]="aut.bairro"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">CEP</ion-label>
    <ion-input placeholder="Insira o CEP" type="text" required [(ngModel)]="aut.cep"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cidade</ion-label>
    <ion-input placeholder="Insira a cidade" type="text" required [(ngModel)]="aut.cidade"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">UF</ion-label>
    <ion-select [(ngModel)]="aut.uf">
      <ion-select-option value="SP">São Paulo</ion-select-option>
      <ion-select-option value="PR">Paraná</ion-select-option>
      <ion-select-option value="SC">Santa Catarina</ion-select-option>
      <ion-select-option value="RS">Rio Grande do Sul</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Tipo</ion-label>
    <ion-input placeholder="Insira o tipo" type="text" required [(ngModel)]="aut.tipo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nacionalidade</ion-label>
    <ion-input placeholder="Insira a nacionalidade" type="text" required [(ngModel)]="aut.nacionalidade"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Data de Morte</ion-label>
    <ion-input placeholder="Insira a data de morte" type="text" required [(ngModel)]="aut.data_morte"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Biografia</ion-label>
    <ion-input placeholder="Insira a biografia" type="text" required [(ngModel)]="aut.biografia"></ion-input>
  </ion-item>

  <ion-fab horizontal="center" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><a href="home">
        <ion-icon name="home"></ion-icon>
      </a></ion-fab-button>
      <ion-fab-button><a href="cad-livro">
      <ion-icon name="book"></ion-icon>
      </a></ion-fab-button>
      <ion-fab-button><a href="cad-editora">
      <ion-icon name="document"></ion-icon>
      </a></ion-fab-button>
      <ion-fab-button><a href="cad-usuario">
      <ion-icon name="person"></ion-icon>
      </a></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div>
    <ion-button id="button-1" expand="block" (click)="cadastrar()">Salvar</ion-button>
    <a href="show-autor"><ion-button id="button-2" expand="block">Autores cadastrados</ion-button></a>
  </div>

</ion-content>