#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-toolbar{
  --background: #fd0;
  color: #fff;
  text-align: center;
  
  ion-title{
    font-size: 25px;
  }
}

ion-content{
  --background: #fd0;

  a{
    text-decoration: none;
    color: #fd0;
  }

  ion-button{
    margin: 15px 10px 10px 10px;
    height: 21.1vh;
    --background: white;
    font-size: 23px;
    color: #fd0;

    ion-icon{
      color: #fd0;  
    }
  }

  ion-fab-button{
    --background: #fd0;

    ion-icon{
      width: 30px;
      height: 25px;
      color: #fff;
    }
  }

}