<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Página Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="button">
  <a href="cad-livro"><ion-button expand="block">
    <ion-icon slot="start" name="book"></ion-icon>
    Cadastrar Livro
  </ion-button></a>

  <a href="cad-autor"><ion-button expand="block">
    <ion-icon slot="start" name="create"></ion-icon>
    Cadastrar Autor
  </ion-button></a>

  <a href="cad-editora"><ion-button expand="block">
    <ion-icon slot="start" name="document"></ion-icon>
    Cadastrar Editora
  </ion-button></a>

<a href="cad-usuario"><ion-button expand="block">
    <ion-icon slot="start" name="person"></ion-icon>
    Cadastrar Usuário
  </ion-button></a>
</div>
  <ion-fab horizontal="center" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><a href="cad-livro">
        <ion-icon name="book"></ion-icon>
      </a></ion-fab-button>
      <ion-fab-button><a href="cad-autor">
      <ion-icon name="create"></ion-icon>
      </a></ion-fab-button>
      <ion-fab-button><a href="cad-editora">
      <ion-icon name="document"></ion-icon>
      </a></ion-fab-button>
      <ion-fab-button><a href="cad-usuario">
      <ion-icon name="person"></ion-icon>
      </a></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>