<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Funcionário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text"  required="true" [(ngModel)]="func.nome"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Telefone</ion-label>
    <ion-input type="text" required="true" [(ngModel)]="func.telefone"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Rua</ion-label>
    <ion-input type="text" required="true" [(ngModel)]="func.rua"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Número</ion-label>
    <ion-input type="text" required="true" [(ngModel)]="func.numero"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Bairro</ion-label>
    <ion-input type="text" required="true" [(ngModel)]="func.bairro"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">CEP</ion-label>
    <ion-input type="text" required="true" [(ngModel)]="func.cep"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Cidade</ion-label>
    <ion-input type="text" required="true" [(ngModel)]="func.cidade"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">UF</ion-label>
    <ion-select [(ngModel)]="func.uf">
      <ion-select-option value="SP">São Paulo</ion-select-option>
      <ion-select-option value="PR">Paraná</ion-select-option>
      <ion-select-option value="SC">Santa Catarina</ion-select-option>
      <ion-select-option value="RS">Rio Grande do Sul</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Tipo</ion-label>
    <ion-input type="text" required="true" [(ngModel)]="func.tipo"></ion-input>>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Data de Admissão</ion-label>
    <ion-input type="text" required="true" [(ngModel)]="func.data_admissao"></ion-input>>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Salario</ion-label>
    <ion-input type="number" required="true" [(ngModel)]="func.salario"></ion-input>>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Cargo</ion-label>
    <ion-input type="text" required="true" [(ngModel)]="func.cargo"></ion-input>>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Username</ion-label>
    <ion-input type="text" required="true" [(ngModel)]="func.username"></ion-input>>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" required="true" [(ngModel)]="func.password"></ion-input>>
  </ion-item>
  <div>
    <ion-button color="primary" expand="block" (click)="cadastrar()">Salvar</ion-button>
    <ion-button color="danger" expand="block">Cancelar</ion-button>
  </div>
</ion-content>
