ion-toolbar{
    --background: #fd0;
    color: white;
    text-align: center;

    ion-title{
        font-size: 25px;
    }
}

ion-content{
    #id{
        width: 50%;
    }

    #nacionalidade{
        width: 50%
    }

    h6{
        font-size: 12px;
    }

    a{
        text-decoration: none;
        color: #fd0;
      }
    
      ion-fab-button{
        --background: #fd0;
    
        ion-icon{
          width: 30px;
          height: 25px;
          color: #fff;
        }
    }
}