<ion-header>
  <ion-toolbar>
    <ion-title>Autores Cadastrados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="inset" *ngFor="let autor of autores">
    <div id="id">
      <h6>ID</h6>
      <ion-label>     
        {{ autor.id }}
      </ion-label>
    </div>
    <div id="nacionalidade">
      <h6>Nacionalidade</h6>
      <ion-label>  
        {{ autor.nacionalidade }}
      </ion-label>
    </div>
  </ion-item>

  <ion-fab horizontal="center" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><a href="home">
        <ion-icon name="home"></ion-icon>
      </a></ion-fab-button>
      <ion-fab-button><a href="cad-livro">
      <ion-icon name="book"></ion-icon>
      </a></ion-fab-button>
      <ion-fab-button><a href="cad-editora">
      <ion-icon name="document"></ion-icon>
      </a></ion-fab-button>
      <ion-fab-button><a href="cad-autor">
      <ion-icon name="create"></ion-icon>
      </a></ion-fab-button>
      <ion-fab-button><a href="cad-usuario">
      <ion-icon name="person"></ion-icon>
      </a></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>